body{
    background-color: rgb(135, 231, 235);
}


h1{
    color:rgb(35, 88, 14);
    background-color: rgb(129, 212, 129);
}

#tmbcss{
    color: blueviolet;

}
.losdemas{
    color:saddlebrown
}